# While Loop

In [1]:
n = 1
while n<5:
    print("Dr. Dheeraj Tandon")
    n = n+1

Arvind
Arvind
Arvind
Arvind

# While loop with else

In [2]:
i = 0
while i<5:
    print("Python")
    i = i+1
else:
    print("No item left")

Python
Python
Python
Python
Python
No item left

# Range Function

In [5]:
r  = range(5)
print(list(r))

[0, 1, 2, 3, 4]

In [6]:
r  = range(1,10)
print(list(r))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
r  = range(1,10,2)
print(list(r))

[1, 3, 5, 7, 9]

# for loop

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

# for loop with else

In [10]:
for i in range(5):
    print(i)
else:
    print("No items left")

0
1
2
3
4
No item left

# Break

In [11]:
for i in range(5):
    if i==3:
        break;
    print(i)

0
1
2

In [13]:
x = 4
y = 0
while x>=0:
    if x==y:
        break
    else:
        print(x,y)
    x = x-1
    y = y+1

4 0
3 1

# Continue

In [12]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [14]:
x = 4
y = 0
while x>=0:
    x = x-1
    y = y+1
    if x==y:
        continue
    else:
        print(x,y)

3 1
1 3
0 4
-1 5

# Infinite Loop

In [ ]:
while(True):
    n = int(input("Enter the number: "))
    print(n*n)

Enter the number: 2
4
Enter the number: 2
4
Enter the number: 3
9
Enter the number: 4
16
Enter the number: 5
25

In [2]:
while(True):
    n = int(input("Enter the number: "))
    print(n*n)
    ch = input("Do you want to continue(press y/n)")
    if ch == 'n':
        break

Enter the number: 2
4
Do you want to continue(press y/n)y
Enter the number: 3
9
Do you want to continue(press y/n)n

# 1. Write a Python program to print the table of the given number.
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
.
.
.
5 * 10 = 50

In [3]:
n = int(input("Enter the number: "))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter the number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

# 2. Write a Python program to calculate the factorial of the given number. !5 = 120

In [5]:
n = int(input("Enter the number: "))
f = 1
for i in range(1,n+1):
    f = f*i
print("The factorial is: ",f)

Enter the number: 5
The factorial is:  120

# 3. Write a Python program to calculate the sum of digits of a 5 digits number.

In [6]:
n = int(input("Enter the number: "))
s = 0
while n>0:
    a = n%10
    s = s+a
    n = n//10
print("The sum of five digits number is: ",s)

Enter the number: 12345
The sum of five digits number is:  15

# Write a Python program to calculate the reverse number of a 5 digits number.

In [7]:
n = int(input('Enter the number: '))
rev = 0
while n>0:
    a = n%10
    rev = rev*10+a
    n = n//10
print('The reverse number is',rev)

Enter the number: 12345
The reverse number is 54321

# Break and Continue

In [4]:
for i in range(5):
    if i==3:
        break
    else:
        print(i)

0
1
2

In [5]:
for i in range(5):
    if i==3:
        continue
    else:
        print(i)

0
1
2
4

In [1]:
x = 4
y = 0
while x>=0:
    if x==y:
        break
    else:
        print(x,y)
    x = x-1
    y = y+1

4 0
3 1

In [2]:
x = 4
y = 0
while x>=0:
    x = x-1
    y = y+1
    if x==y:
        continue
    else:
        print(x,y)

3 1
1 3
0 4
-1 5

# Write a Python program to check whether the given number is prime or not. prime number smallest prime number ? ans: 2

In [8]:
n  = int(input('Enter the number: '))
for i in range(1,n):
    if n%i == 0:
        f = 0
        break
    else:
        f = 1
if f == 1:
    print('Prime Number')
else:
    print('Not Prime')

Enter the number: 34
Not Prime

In [10]:
n  = int(input('Enter the number: '))
count  = 0
for i in range(1,n+1):
    if n%i==0:
        count = count+1
if count ==2:
    print('Prime Number')
else:
    print('Not Prime')

Enter the number: 6
Not Prime

# Write a Python program to generate fibonacci series.
# 0 1 1 2 3

In [ ]:
n = int(input('Enter the number of terms for fibonacci series:'))
a = 0
b = 1
print('The fibonacci series:',a,b,end=' ')
for i in range(2,n):
    c = a+b
    print(c,end=' ')
    a = b
    b = c

# Write a Python program to check whether the given number is armstrong number or not.

In [6]:
n = int(input('Enter the number: '))
s = 0
t = n
while t>0:
    a = t%10
    s = s+a**3
    t = t//10
if s == n:
    print(n,'is an Armstrong Number')
else:
    print(n,'is not an Armstrong number')

Enter the number: 153
153 is an Armstrong Number

# Write a Python program to print all armstrong numbers in given interval.

In [8]:
start  = int(input('Enter the starting number:'))
end = int(input('Enter the ending number: '))
for i in range(start,end+1):
    s = 0
    t = i
    while t>0:
        a = t%10
        s = s+a**3
        t=t//10
    if s==i:
        print(i)

Enter the starting number:100
Enter ending number: 500
153
370
371
407

# Write a Python program to print all Prime numbers in given Interval.

In [11]:
start = int(input('Enter starting number: '))
end = int(input('Enter ending number: '))
for i in range(start,end+1): # 11-20
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

Enter starting number: 10
Enter ending number: 20
11
13
17
19

# Nesting of loops or Nested Loops

In [9]:
for i in range(3): # 0 1 2
    for j in range(3): # 0 1 2
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [10]:
i = 0
while i<3:
    j = 0
    while j<3:
        print(i,j)
        j= j+1
    i = i+1

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [14]:
i = 0
j = 0
while i<3:
    while j<3:
        print(i,j)
        j= j+1
    i = i+1

0 0
0 1
0 2

# Patterns

# 12. Print following pattern:

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [15]:
for i in  range(5):
    for j in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# 13. Print following pattern:

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [16]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

# Print following pattern:
    
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [17]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

# Print following pattern:

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [18]:
for i in range(65,70): # 65 66 67 68 69
    for j in range(65,70): # 65 66 67 68 69
        print(chr(j),end=' ')
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

# Print following pattern:

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [19]:
for i in range(65,70): # 65 66 67 68 69
    for j in range(65,70): # 65 66 67 68 69
        print(chr(i),end=' ')
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

# Print following pattern:

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [20]:
for i in range(97,102): # 65 66 67 68 69
    for j in range(97,102): # 65 66 67 68 69
        print(chr(j),end=' ')
    print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

# Print following pattern:

a a a a a 
b b b b b 
c c c c c 
d d d d d 
e e e e e

In [21]:
for i in range(97,102): # 65 66 67 68 69
    for j in range(97,102): # 65 66 67 68 69
        print(chr(i),end=' ')
    print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

# Print following pattern:

5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1

In [22]:
for i in range(5,0,-1):
    for j in range(5,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

# Print following pattern:

* 
* * 
* * * 
* * * * 
* * * * *

In [2]:
for i in range(5):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Print following pattern:
a 
a b 
a b c 
a b c d 
a b c d e

In [1]:
for i in range(97,102):
    for j in range(97,i+1):
        print(chr(j),end=' ')
    print()

a
a b
a b c
a b c d
a b c d e

In [2]:
for i in range(97,102):
    for j in range(97,i+1):
        print(chr(i),end=' ')
    print()

a
b b
c c c
d d d d
e e e e e

# Print following pattern:

5 
5 4 
5 4 3 
5 4 3 2 
5 4 3 2 1

In [3]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

# Print following pattern:

1 
2 3 
4 5 6 
7 8 9 10 
11 12 13 14 15

In [4]:
k = 1
for i in range(5):
    for j in range(0,i+1):
        print(k,end=' ')
        k=k+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
Print following pattern:

* * * * * 
* * * * 
* * * 
* * 
*

In [5]:
for i in range(5,0,-1):
    for j in range(0,i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

# Print following pattern:

1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1

In [6]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# Print following pattern:
    
5 5 5 5 5 
4 4 4 4 
3 3 3 
2 2 
1

In [7]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

# Print following pattern:

A B C D E 
A B C D 
A B C 
A B 
A

In [8]:
for i in range(70,65,-1):
    for j in range(65,i):
        print(chr(j),end=' ')
    print()

A B C D E
A B C D
A B C
A B
A

# Print following pattern:

E E E E E 
D D D D 
C C C 
B B 
A

In [9]:
for i in range(69,64,-1):
    for j in range(64,i):
        print(chr(i),end=' ')
    print()

E E E E E
D D D D
C C C
B B
A

# Print following pattern:
    
a b c d e 
a b c d 
a b c 
a b 
a

In [10]:
for i in range(102,97,-1):
    for j in range(97,i):
        print(chr(j),end=' ')
    print()

a b c d e
a b c d
a b c
a b
a

# Print following pattern:

e e e e e 
d d d d 
c c c 
b b 
a

In [11]:
for i in range(101,96,-1):
    for j in range(96,i):
        print(chr(i),end=' ')
    print()

e e e e e
d d d d
c c c
b b
a

# Print following pattern:

5 4 3 2 1 
5 4 3 2 
5 4 3 
5 4 
5

In [12]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

# Print following pattern:
    *
   **
  ***
 ****
*****

In [13]:
for i in range(5):
    for j in range(0,4-i):
        print(end=' ')
    for k in range(0,i+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

# Print following pattern:

    1
   12
  123
 1234
12345

In [14]:
for i in range(5):
    for j in range(0,4-i):
        print(end=' ')
    for k in range(1,i+2):
        print(k,end='')
    print()

    1
   12
  123
 1234
12345

# Print following pattern:

 	1
   22
  333
 4444
55555

In [15]:
for i in range(6):
    for j in range(0,5-i):
        print(end=' ')
    for k in range(1,i+1):
        print(i,end='')
    print()

    1
   22
  333
 4444
55555

# Print following pattern:

	A
   AB
  ABC
 ABCD
ABCDE

In [16]:
for i in range(65,70):
    for j in range(0,69-i):
        print(end=' ')
    for k in range(65,i+1):
        print(chr(k),end='')
    print()

    A
   AB
  ABC
 ABCD
ABCDE

# Print following pattern:

	A
   BB
  CCC
 DDDD
EEEEE

In [17]:
for i in range(65,70):
    for j in range(0,69-i):
        print(end=' ')
    for k in range(65,i+1):
        print(chr(i),end='')
    print()

    A
   BB
  CCC
 DDDD
EEEEE

# Print following pattern:

	 a
    ab
   abc
  abcd
 abcde

In [18]:
for i in range(97,102):
    for j in range(0,101-i):
        print(end=' ')
    for k in range(97,i+1):
        print(chr(k),end='')
    print()

    a
   ab
  abc
 abcd
abcde

# Print following pattern:
    a
   bb
  ccc
 dddd
eeeee

In [19]:
for i in range(97,102):
    for j in range(0,101-i):
        print(end=' ')
    for k in range(97,i+1):
        print(chr(i),end='')
    print()

    a
   bb
  ccc
 dddd
eeeee

# Print following pattern:

 	5
   54
  543
 5432
54321

In [22]:
for i in range(5,0,-1):
    for j in range(i-1,0,-1):
        print(end=' ')
    for k in range(5,i-1,-1):
        print(k,end='')
    print()

    5
   54
  543
 5432
54321

# Print following pattern:

     *
    ***
   *****
  *******
 *********

In [23]:
for i in range(5):
    for j in range(5-i):
        print(end=' ')
    for k in range(2*i+1):
        print('*',end='')
    print()

     *
    ***
   *****
  *******
 *********

# Print following pattern:

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [24]:
for i in range(5):
    for j in range(i):
        print('*',end='')
    print()
for i in range(5,0,-1):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****
*****
****
***
**
*

# Print following pattern: 

1
12
123
1234
12345
1234
123
12
1

In [25]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()
for i in range(5,0,-1):
    for j in range(1,i):
        print(j,end='')
    print()

1
12
123
1234
12345
1234
123
12
1

# Print following pattern: 

1
22
333
4444
55555
666666
55555
4444
333
22
1

In [26]:
for i in range(1,7):
    for j in range(1,i+1):
        print(i,end='')
    print()
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i,end='')
    print()

1
22
333
4444
55555
666666
55555
4444
333
22
1

# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1000 and 2000(both included).

In [27]:
for i in range(1000,2001):
    if i%7==0 and i%5==0:
        print(i)

1015
1050
1085
1120
1155
1190
1225
1260
1295
1330
1365
1400
1435
1470
1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995

# Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [28]:
for i in range(6):
    if i==3 or i==6:
        continue
    else:
        print(i)

0
1
2
4
5

# Write a python program to display letters of word in pattern. 

P
Py
Pyt
Pyth
Pytho
Python

# string:

In [29]:
word = 'Python'
x = ''
for i in word:
    x = x+i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python

# Dice Roll Simulator:
    
randint(1,6)

In [30]:
import random

In [31]:
while int(input('Enter 1 to roll the dice or 0 to exit:')):
    print(random.randint(1,6))

Enter 1 to roll the dice or 0 to exit:1
1
Enter 1 to roll the dice or 0 to exit:0